{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">fHDHR Diagnostic Links</h4>

    <div class="container">
    <table class="table-medium center">
    <tbody>
     <tr>
        <th>Item</th>
        <th>HDHR</th>
        <th>RMG</th>
        <th>Non-Specific</th>
     </tr>

    {% for button_item in button_list %}
    <tr>
        <td>{{ button_item["label"] }}</td>
        {% if button_item["hdhr"]  %}
        <td><button onclick="OpenLink('{{ button_item["hdhr"] }}')">{{ button_item["label"] }}</a></button></td>
        {% else %}
        <td></td>
        {% endif %}
        {% if button_item["rmg"]  %}
        <td><button onclick="OpenLink('{{ button_item["rmg"] }}')">{{ button_item["label"] }}</a></button></td>
        {% else %}
        <td> </td>
        {% endif %}
        {% if button_item["other"]  %}
        <td><button onclick="OpenLink('{{ button_item["other"] }}')">{{ button_item["label"] }}</a></button></td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
