{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">fHDHR Diagnostic Links</h4>

  {% for route_group in list(button_dict.keys()) %}

    <h4 style="text-align: center;">{{ route_group }}</h4>

    <div class="container">
      <table class="table-settings center action-col text-edit-cols">
        <thead>
          <tr>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>

          {% for button_item in button_dict[route_group] %}

            <tr>
              <td><button onclick="OpenLink('{{ button_item["link"] }}')">{{ button_item["label"] }}</a></button></td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endfor %}

{% endblock %}
