{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">Guide</h4>

  <input type="hidden" id="origin_name" value="{{ origin_name }}">

  <p>
    {% for epg_method in epg_methods %}
      <button class="guide_btn" onclick="location.href='/guide?source={{ epg_method }}'" data-channel="{{ epg_method }}" type="button">{{ epg_method }}</button>
    {% endfor %}
  </p>

  <div class="container">
    <table class="table-scroll">
      <thead>
        <tr>
          <th>Play</th>
          {% if origin_name not in origin_methods %}
            <th>Match</th>
          {% endif %}
          <th>Channel Name</th>
          <th>Channel Number</th>
          <th>Channel Thumbnail</th>
          <th>Content Title</th>
          <th>Content Thumbnail</th>
          <th>Content Description</th>
          <th>Start Time (UTC)</th>
          <th>End Time (UTC)</th>
          <th>Content Remaining Time</th>
        </tr>
      </thead>

      <tbody class="body-half-screen">
        {% for chan_number in list(channelslist.keys()) %}
          <tr>
            <td>
              {% if channelslist[chan_number]["m3u_url"] %}
                {% if channelslist[chan_number]["enabled"] %}
                  <a href="{{ channelslist[chan_number]["m3u_url"] }}">M3U</a>
                {% else %}
                  <a href="{{ channelslist[chan_number]["m3u_url"] }}" style="visibility:hidden">M3U</a>
                {% endif %}
              {% endif %}
            </td>

            {% if origin_name not in origin_methods %}
              <input type="hidden" name="id" class="epg_channels" value="{{ channelslist[chan_number]["id"] }}">
              <input type="hidden" name="epg_method" class="epg_channels" value="{{ origin_name }}">
              <td>
                <select name="fhdhr_channel_id" class="epg_channels">
                  {% if not channelslist[chan_number]["chan_match"]  %}
                    <option value=None selected>None</option>
                    {% for uorigin in unmatched_origins %}
                      {% for uorigindict in unmatched_origins[uorigin] %}
                        <option value="{{ uorigindict["id"] }}">{{ uorigin }} {{ uorigindict["number"] }} {{ uorigindict["name"] }}</option>
                      {% endfor %}
                    {% endfor %}
                  {% else %}
                    <option value="{{ channelslist[chan_number]["chan_match"]["fhdhr_channel_id"] }}">{{ channelslist[chan_number]["chan_match"]["origin_name"] }} {{ channelslist[chan_number]["chan_match"]["number"] }} {{ channelslist[chan_number]["chan_match"]["name"] }}</option>
                    {% for uorigin in unmatched_origins %}
                      {% for uorigindict in unmatched_origins[uorigin] %}
                        <option value="{{ uorigindict["id"] }}">{{ uorigin }} {{ uorigindict["number"] }} {{ uorigindict["name"] }}</option>
                      {% endfor %}
                      <option value=None >None</option>
                    {% endfor %}
                  {% endif %}
                </select>
                <button type="entry" id="epg_chan_map" value="{{ channelslist[chan_number]["id"] }}">Map Channel</button>
              </td>
            {% endif %}

            <td>{{ channelslist[chan_number]["name"] }}</td>
            <td>{{ channelslist[chan_number]["number"] }}</td>
            <td><img src="{{ channelslist[chan_number]["chan_thumbnail"] }}" alt="{{ channelslist[chan_number]["name"] }}" width="100" height="100"></td>
            <td>{{ channelslist[chan_number]["listing_title"] }}</td>
            <td><img src="{{ channelslist[chan_number]["listing_thumbnail"] }}" alt="{{ channelslist[chan_number]["listing_title"] }}" width="100" height="100"></td>
            <td>{{ channelslist[chan_number]["listing_description"] }}</td>
            <td>{{ channelslist[chan_number]["listing_time_start"] }}</td>
            <td>{{ channelslist[chan_number]["listing_time_end"] }}</td>
            <td>{{ channelslist[chan_number]["listing_remaining_time"] }}</td>
          </tr>
        {% endfor %}
        <input type="hidden" name="id" class="epg_channels" value="dummy">
      </tbody>
    </table>
  </div>

{% endblock %}
